/** Write your CSS in here **/
body {
    background-color: rgba(158, 104, 160, 0.568);
    font-family: 'Jost', sans-serif;
}

.container-form {
    width: 100vw;
   padding-top: 20px;
   padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-img {
    width: 100vw;
   padding-top: 20px;
   padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
}

.title {
    font-size: 150px;
   margin-bottom: -50px;
   
}

img {  
z-index: 100;
  transition: transform .5s, opacity .5s, z-index .5s;
}



.btn {
    background-color: rgba(124, 140, 231, 0.5);
    color: black;
    padding: 10px;
    margin: 19px;
    width: 130px;
}

